.btn {
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid gray;
    margin: 5px;
    height: 50px;
    width: 50px;
    
}
.btnfree {
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid gray;
    margin: 5px;
    background-color: rgb(226, 132, 24);
    color: #fff;
    
}
.btnBorder , .btnSolid{
    transition: all 0.2s linear;
}

.btnBorder:hover {
    color: rgb(226, 132, 24);
    border-color: rgb(226, 132, 24);
}

.btnSolid:hover{
    background-color: rgb(226, 132, 24);
    color: #fff;
    border-color: rgb(226, 132, 24);
}