.wrapper {
    width: 80%;
    margin: 5px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* header */
.header {
    background-color: rgb(17, 22, 36);
    border-radius: 10px 10px 0 0;
    color: rgb(218, 218, 218);
    font-size: 0.8em;

}

.topinfo {
    justify-content: space-between;
    border-bottom: 1px solid rgb(31, 40, 65);
}

.header a {
    transition: all 0.3s linear;

}

.signiconLink {
    padding: 5px;
    margin: 0 10px;

}

.signiconLink:hover {
    color: #fff;
}

.langicon {
    margin: 0 15px;
    align-items: center;
}

.langIconLang {
    width: 24px;
    height: 24px;
}

.langList {
    border: none;
    padding: 1px 0;
    font-size: 0.7em;
    background-color: unset;
    color: rgb(218, 218, 218);
    margin: 0 5px;
}

.mainLogo {
    padding: 20px 40px;
}

.mainLogoIcon {
    width: 50px;

}

.toplogo {
    align-items: center;
    border-bottom: 1px solid rgb(31, 40, 65);
}

.serchBar {
    justify-content: center;
    flex-grow: 1;
}

.serchBar>select {
    border: none;
    border-radius: 0 20px 20px 0;
}

.selectCategory {
    height: 30px;
}

.serchInput {
    font-size: 0.8em;
    border: none;
    padding: 7px 0;
    width: 50%;
}

.serchLink {
    background-color: rgb(226, 132, 24);
    padding: 5px 10px;
    border-radius: 20px 0 0 20px;
}

.callInfo,
.selerInfo {
    align-items: center;
    font-size: 0.8em;
    margin: 0 10px;
}

.callInfo>i,
.selerInfo>i {
    font-size: 2.5em;
    margin: 0 10px;
}




.manNavItemLink {
    padding: 5px 5px;
    margin: 0 5px;

}


.manNavItemLink:hover {
    color: #fff;
}





.mainNavList {
    position: relative;

}

.mainNavLinkContaner {
    position: relative;
}

.hotcat::before {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(../images/icons/jadid.png);
    position: absolute;
    top: -33px;
    right: 26px;
}

.manNavItemLink::after {
    content: '';
    background-color: rgb(226, 132, 24);
    height: 2px;
    width: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
    transform: scale(0);
    transition: all 0.2s linear;
}

.submenuContaner {
    height: 200px;
    width: 100%;
    right: 0;
    position: absolute;
    background-color: #e9e9e9;
    justify-content: space-between;
    display: none;
}

.mainNavItemCList {
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 25%;
    flex-grow: 1;

}

.mainNavListItem:hover>.mainNavLinkContaner>.manNavItemLink::after {
    transform: scale(100%);
}

.mainNavListItem:hover>.submenuContaner {
    display: block;
}

.mainNavItemClistItem {
    color: black;
    font-size: 0.95em;
}



.mainNavContanerImg {
    width: 100px;
    height: 100px;
    margin: auto 20px auto 50px;

}

/* main */
.slider {
    height: 400px;
    width: 100%;
}

.rAds {
    width: 25%;
    height: 100%;
}

.rAds>img,
.lAds>img {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.lAds {
    flex-grow: 1;
}

.topProduct {
    background-color: rgb(235, 235, 235);
}

.topProductList {
    width: 33%;
    flex-grow: 1;
    align-items: center;
    font-size: 0.9em;
    text-align: center;
    padding: 10px;

}

.top_p_img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}



.topSeleR {
    width: 40%;
    flex-grow: 2;
    margin: 10px;
    
}

.topSelerImg{
    border: 1px solid gray;
    margin: 30px 30px 10px 0;
}
.topselerlist_p {
    flex-wrap: wrap;
    height: 100%;
}

.topselerlistitem {
    width: 33%;
margin: 10px 0;
}



.topSelerImg>img {
    width: 100%;
    height: 100%;
}

.imageoverlay>img {
    width: 100%;
    height: 100%;
}

.imageoverlay {
    position: relative;
    overflow: hidden;
    justify-content: center;

}



.topSelerList {
    flex-grow: 3;
    margin: 20px;
    width: 60%;
}

.topSelerList_c {
    height: 100%;
    text-align: center;
    align-content: center;

}

.overlay {
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    transition: all 0.1s linear;
}

.overlybtn {
    position: absolute;
    top: -100%;
    display: block;
    background-color: rgb(192, 117, 83);
    color: #fff;
    width: 70%;
    opacity: 0;
    transition: all 0.1s linear;
}

.topSelerList_c:hover .overlay {
    opacity: 1;
    top: 0;
}

.topSelerList_c:hover .overlybtn {
    opacity: 1;
    top: 50%;
}

.topSelerList_c>img {
    width: 100%;

}

.topSelerBtn {
    justify-content: center;
}

.topSelerList_c {
    margin: 10px;
    border: 1px solid gray;
}

.topselerlistitem:hover>.topSelerList_c>h3 {
    color: rgb(226, 132, 24);
}